.ChangeAlert-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.ChangeAlert-button {
  padding: 10px;
  box-shadow: 1px 1px 1px 1px #0a0a23;
  background-color: #4caf50;
  border-radius: 10px;
  color: #0a0a23;
  font-weight: bold;
  border: 2px solid #0a0a23;
}
