.primer-p{
  color: #0a0a23;
  font-size: 70px;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 0;
}
.segundo-p{
  color: #d0d0d5;
  font-size: 25px;
  text-align: center;
  font-weight: bolder;
}