.TodoSearch {
  border-radius: 10px;
  border: 2px solid #0a0a23;
  margin: 0 24px;
  height: 64px;
  width: calc(100% - 62px);
  font-size: 24px;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 400;
  color: #0a0a23;
  box-shadow: 3px 3px 1px 2px #0a0a23;
}

.TodoSearch::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-family: 'Montserrat';
  font-weight: 400;
}

.TodoSearch:focus {
  background-color: #0a0a23;
  outline-width: 0px;
  color: #d0d0d5;
  box-shadow: 3px 3px 1px 2px #d0d0d5;
}

.TodoSearch:disabled {
  opacity: 50%;
}